{
    "ETHERSCANAPIKEY": "APIKEYHERE",
    "BSCSCANAPIKEY": "APIKEYHERE",
    "FTMSCANAPIKEY": "APIKEYHERE",
    "CRONOSCANAPIKEY": "APIKEYHERE",
    "POLYGONSCANAPIKEY": "APIKEYHERE",
    "SNOWTRACEAPIKEY": "APIKEYHERE"
}